# AuroraMod Configuration File
# Lines that start with '#' are comments and are ignored by the configuration parser.
# Note: If there are any typos, errors, or unknown variables in this file, no configuration options will be picked up.

##
## Theme Configuration Options
## All colors are represented as RGB values.
## 

theme:
    # Default Aurora Theme
    background-color: [0, 0, 64]
    tactical-map-background-color: [0, 0, 64]
    galactic-map-background-color: [0, 0, 64]
    text-color: [255, 255, 192]

    # Pitch Black
    #background-color: [0, 0, 0]
    #tactical-map-background-color: [0, 0, 0]
    #galactic-map-background-color: [0, 0, 0]
    #text-color: [255, 255, 255]

    # Wow That's Bright
    #background-color: [255, 255, 255]
    #tactical-map-background-color: [255, 255, 255]
    #galactic-map-background-color: [255, 255, 255]
    #text-color: [0, 0, 0]

    # Ladies Night
    #background-color: [14, 16, 18]
    #tactical-map-background-color: [14, 16, 18]
    #galactic-map-background-color: [14, 16, 18]
    #text-color: [228, 130, 160]

    # Solarized
    #background-color: [253, 246, 227]
    #tactical-map-background-color: [253, 246, 227]
    #galactic-map-background-color: [253, 246, 227]
    #text-color: [131, 146, 146]

    # Dunno
    #background-color: [39, 40, 34]
    #tactical-map-background-color: [20, 20, 20]
    #galactic-map-background-color: [0, 0, 0]
    #text-color: [201, 192, 104]

    # Obsidian
    #background-color: [41, 49, 52]
    #tactical-map-background-color: [41, 49, 52]
    #galactic-map-background-color: [41, 49, 52]
    #text-color: [151, 197, 132]

    # Hacker Terminal
    #background-color: [0, 0, 0]
    #tactical-map-background-color: [0, 0, 0]
    #galactic-map-background-color: [0, 0, 0]
    #text-color: [84, 252, 84]

    # Purple Nurple
    #background-color: [49, 29, 64]
    #tactical-map-background-color: [49, 29, 64]
    #galactic-map-background-color: [49, 29, 64]
    #text-color: [134, 134, 253]
    
    # MarcAFK's Electric Pikachu
    #background-color: [50, 50, 0]
    #tactical-map-background-color: [50, 50, 0]
    #galactic-map-background-color: [50, 50, 0]
    #text-color: [255, 255, 0]

    # acadon1024's Theme
    #background-color: [18, 18, 18]
    #tactical-map-background-color: [18, 18, 18]
    #galactic-map-background-color: [18, 18, 18]
    #text-color: [255, 255, 255]

##
## UI/Interface Configuration Options
##

interface:
    # Whether you want to be able to resize windows or not.
    resizeable-windows: false
    # Open and re-use only one instance of each window (no duplicate windows open at once - windows come to foreground when icon is clicked).
    # As of 1.7.2, you can Shift-Click to force opening a new window.
    persistent-windows: false
    # Date/time formatter options can be found here: https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings#the-long-date-d-format-specifier
    # The format that will be used for displaying dates without a time component - ie: "dd MMMM yyyy".
    date-format: "D"
    # The format that will be used for displaying dates with a time component - ie: "dd MMMM yyyy hh:mm:ss".
    date-time-format: "F"