# AuroraMod Configuration File
# Compatible with AuroraMod v1.5.1
# Lines that start with '#' are comments and are ignored by the configuration parser.

##
## Theme Configuration Options
## All colors are represented as RGB values.
## 

theme:
    # Default Aurora Theme
    background-color: [0, 0, 64]
    text-color: [255, 255, 192]

    # Pitch Black
    #background-color: [0, 0, 0]
    #text-color: [255, 255, 255]

    # Wow That's Bright
    #background-color: [255, 255, 255]
    #text-color: [0, 0, 0]

    # Ladies Night
    #background-color: [14, 16, 18]
    #text-color: [228, 130, 160]

    # Solarized
    #background-color: [253, 246, 227]
    #text-color: [131, 146, 146]

    # Dunno
    #background-color: [39, 40, 34]
    #text-color: [201, 192, 104]

    # Obsidian
    #background-color: [41, 49, 52]
    #text-color: [151, 197, 132]

    # Hacker Terminal
    #background-color: [0, 0, 0]
    #text-color: [84, 252, 84]

    # Purple Nurple
    #background-color: [49, 29, 64]
    #text-color: [134, 134, 253]
    
    # MarcAFK's Electric Pikachu
    #background-color: [50, 50, 0]
    #text-color: [255, 255, 0]

##
## UI/Interface Configuration Options
##

interface:
    # Whether you want to be able to resize windows or not.
    resizeable-windows: false
    # Open and re-use only one instance of each window (no duplicate windows open at once - windows come to foreground when icon is clicked).
    persistent-windows: false

##
## Not Implemented Yet
## The following configuration values are planned but not yet implemented.
##

#gameplay:
#    auto-save-increment: Disabled # or 1 day, 30 day, or X actions

#localization:
#    enable: False